/* App.css */

.calculator {
  width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #f9f9f9;
}

.display {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
}

.input, .output {
  font-size: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

/* Estilos específicos para los botones AC y CE */
button.AC {
  background-color: #ff6347; /* Tomate */
  color: #fff;
}

button.AC:hover {
  background-color: #cc473c;
}

button.CE {
  background-color: #66cc66; /* Verde claro */
  color: #fff;
}

button.CE:hover {
  background-color: #4fa94a;
}
